@value mediumslateblue, lavendar, darkslategray from '../../common/color.module.css';
@value header-btn, app-padding-top, app-padding-left from '../../common/size.module.css';

.header {
	background-color: darkslategray;
	width: 8rem;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}
.btns {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: app-padding-top app-padding-left;
	height: 100%;
}
.btns__contents {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.8rem;
}
.btn {
	color: lavendar;
	font-size: header-btn;
	cursor: pointer;
	transition: all 100ms ease-in;
}
.title {
	color: lavender;
	font-size: 1.1rem;
	font-weight: 500;
	padding: 0.5rem 0;
}
.btn:hover {
	color: mediumslateblue;
}
.btn_pack:hover::after {
	content: '준비중인 컨텐츠입니다';
	position: absolute;
	font-size: 0.5rem;
	color: tomato;
}
