@value lavendar from './common/color.module.css';

.login {
	display: flex;
	padding: 4rem;
	align-items: center;
}
.login_welcome {
	border: 3px solid red;
	padding-right: 3rem;
}
.body__container {
	display: flex;
}
.body_img {
	padding: 1rem;
}
.body_accent {
	font-weight: 700;
}
.login_signin {
	border: 10px solid purple;
}
.login_buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.login_button {
	font-size: 3rem;
	background-color: yellow;
}
