@value lavendar from './common/color.module.css';
@value main-screen-margin-top, main-screen-width, main-screen-height, app-padding-top, maker-side-padding from './common/size.module.css';

* {
	box-sizing: border-box;
}
/* html {
	height: 100%;
} */
body {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100%; */
	background-color: lavendar;
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-size: 2rem;
	margin: 0;
	padding: 0.5rem 1.5rem;
	cursor: default;
}
h2 {
	font-size: 1rem;
	margin: 0;
	padding: 0.5rem 1rem;
	cursor: default;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
p {
	font-size: 1.3rem;
	cursor: default;
}
button {
	border: none;
	outline: none;
	background-color: transparent;
}
input {
	border: none;
	outline: none;
	cursor: pointer;
}
input:hover {
	opacity: 0.8;
}
.App_item {
	height: main-screen-height;
}
