@value orange, maker-gradient, white, lavendar, darkslategray from '../../common/color.module.css';
@value maker-side-padding from '../../common/size.module.css';

.maker {
	background-color: white;
	flex: 1 1 25rem;
	display: flex;
	flex-direction: column;
}
.editor {
	flex: 1 1 80%;
}

.addForm {
	background-color: lightgreen;
	flex: 1 1 10%;
}
