@value orange, maker-gradient, white, lavendar, darkslategray from '../../common/color.module.css';
@value app-padding-top, maker-side-padding from '../../common/size.module.css';

.maker {
	background-color: white;
	flex: 0 0 56rem;
	display: flex;
	flex-direction: column;
}
.editor {
	overflow-y: scroll;
	margin: 0.5rem maker-side-padding 2rem maker-side-padding;
}
.editor::-webkit-scrollbar {
	display: none;
}
.title {
	padding-top: app-padding-top;
}
